// @import "assets/scss/variables";
// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

:root {
  --darkMode-bg-clr: hsl(207, 26%, 17%);
  --darkMode-text-clr: hsl(0, 0%, 100%);
  --darkMode-elements-clr: hsl(209, 23%, 22%);

  --lightMode-bg-clr: hsl(0, 0%, 98%);
  --lightMode-input-clr: hsl(0, 0%, 52%);
  --lightMode-elements-clr: var(--darkMode-text-clr);
  --lightMode-text-clr: hsl(200, 15%, 8%);
  --very-lightGrey-clr: hsl(0, 0%, 5%);

  --primary-clr: var(--lightMode-bg-clr);
  --secondary-clr: var(--lightMode-text-clr);
  --text-clr: var(--lightMode-input-clr);
  --lightgray-clr: var(--lightMode-input-clr);
}
html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 14px;
  transition: background .2s ease-out, color .2s ease-out;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--primary-clr);
  color: var(--secondary-clr);
}
.dark-mode {
  --primary-clr: var(--darkMode-bg-clr);
  --secondary-clr: var(--darkMode-text-clr);
  --text-clr: var(--darkMode-elements-clr);
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}
figcaption {
  display: none;
}
a:focus, button:focus, input:focus, select:focus {
    outline: 2px dashed currentColor;
    outline-offset: 4px;
}